
<div class="container ">
  <div class="row md-12">
    <div class="col-md-6 mx-auto">
  <div class="card">
    <div class="card-body">
      <form #formaServicio="ngForm" (ngSubmit)="crearServicio(formaServicio)" class="form p-t-20">
        <div class="row">
          <div class="col">
            <span *ngIf="formaServicio.submitted && formaServicio.controls['nombre'].errors"
              class="text-danger animated fadeIn">El nombre del servicio es obligatorio</span>
            <div class="form-group">
              <label><b>Nombre del servicio</b></label>
              <div class="input-group">
                <div class="input-group-addon"></div>
                <input [ngModel]="servicios.nombre" name="nombre" name="nombre" type="text" class="form-control" required
                  placeholder="Escriba un nombre para su inmueble">
              </div>

            </div>
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">
              Guardar servicio
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>
