<div class="row animate fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input #input (keyup)="buscarUsuario(input.value)" type="text" class="form-control"
          placeholder="Buscar usuario...">
      </div>
    </div>
  </div>
</div>


<div class="row animate fadeIn" *ngIf="cargando">
  <div class="col-sm-12">
    <div class="alert alert-warning text-center">
      <strong>Cargando...</strong>
      <br>
      <i class="fa fa-refresh fa-spin fa-2x"></i>
      <br>
      <span>Espere por favor</span>
    </div>
  </div>
</div>


<div class="row animate fadeIn" *ngIf="!cargando">
  <div class="col-12">
    <div class="card-body">
      <h3 class="card-title">Usuarios registrados(<small>{{totalDeRegistros}}</small>)</h3>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nombre de usuario</th>
            <th>Celular</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td>{{usuario.correo}}</td>
            <td>{{usuario.movil}}</td>
            <td>{{usuario.rol}}</td>
            <td>{{usuario.estado=='true'? 'ACTIVADO' : 'DESACTIVADO'}}



             <!-- <select [(ngModel)]="usuario.estado" name="estado" class="form-control">
                <option value="true">ACTIVADO</option>
                <option value="false">DESACTIVADO</option>
              </select>-->


              <!-- Material switch
              <div class="switch">
                <label>
                  DESACTIVADO
                  <input [(ngModel)]="usuario.estado" name="estado"  type="checkbox" checked *ngIf="usuario.estado=='true'">
                  <input [(ngModel)]="usuario.estado" name="estado" type="checkbox">
                  <span class="lever"></span> ACTIVADO
                </label>
              </div>-->

            </td>
            <td>
              <button  (click)="guardarUsuario( usuario )" class="btn btn-primary">{{usuario.estado=='false'? 'ACTIVAR' : 'DESACTIVAR'}}</button>

             <!-- <button (click)="borrarUsuario( usuario )" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>-->
            </td>
          </tr>
        </tbody>
      </table>

      <button (click)="cambiarPaginacion(-5)" class="btn btn-secondary m-r-5">Anteriores</button>
      <button (click)="cambiarPaginacion(5)" class="btn btn-secondary">Siguientes</button>
    </div>
  </div>
</div>
