
 <!-- .row -->
 <div class="row">
  <!-- .col -->
  <div class="col">
      <div class="card card-body">
          <div class="row">
              <div class="col-md-4 col-lg-3 text-center">
                  <a href="app-contact-detail.html"><img src="assets/images/gallery/house.jpg" class="img img-responsive"></a>
              </div>
              <div class="col-md-8 col-lg-9">
                  <h3 class="box-title m-b-0">{{visitas.inmueble.nombre}}</h3>
                  <address>
                    <br>
                      <h6>La visita se encuentra: {{visitas.estado}}</h6>
                      <br/>
                      <br/>
                      <abbr title="Phone">Dirección:</abbr> {{visitas.inmueble.direccion}}
                  </address>
              </div>
          </div>
      </div>
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
