<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
      </nav>
			<div class="row">
        <div class="card-columns text-center">
          <div class="card animated fadeIn" *ngFor="let inmueble of inmuebles">
            <h3 class="card-title">{{inmueble.nombre}}</h3>
            <img src="" class="w150" alt="">
            <div class="card-body">
              <h6 class="card-text text-left">{{inmueble.direccion}}</h6>
              <p class=" descripcion card-text text-left">{{inmueble.descripcion}}</p>
              <p class="card-text text-left">{{inmueble.servicio}}</p>
              <p class="card-text text-right">$ {{inmueble.precioalquiler}}</p>

            </div>

            <button [routerLink]="['/crearvisita', inmueble._id]" class="btn btn-block btn-primary"><abbr title="Solicitar visita"></abbr>Solicitar visita</button>
          </div>
        </div>
      </div>
		</div>
	</div>
</div>
