<div class="row">

  <div class="col-lg-7">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Perfil del usuario</h4>
        <h6 class="card-subtitle">Actualizar información</h6>

        <form ngNativeValidate #f="ngForm" class="form p-t-20" (ngSubmit)="ActualizarInformacionPerfil(f.value)" >


          <div class="row ">
            <div class="col-6 m-t-10">
              <div class="col-xs-6 ">


                <div class="form-group">
                  <label for="nombre">Nombres</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="ti-user"></i></div>
                    <input [ngModel]="usuario.nombre" name="nombre" type="text" required class="form-control"
                      placeholder="Nombres">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 m-t-10">
              <div class="form-group">
                <label for="apellido">Apellidos</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-user"></i></div>
                  <input [ngModel]="usuario.apellido" name="apellido" type="text" required class="form-control"
                    placeholder="Apellidos">
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="correo">Correo</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input [ngModel]="usuario.correo" name="correo" type="email" required class="form-control"
                placeholder="Correo Electrónico">
            </div>
          </div>

          <div class="form-group">
            <label for="cedula">Cédula</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-id-badge"></i></div>
              <input [ngModel]="usuario.cedula" name="cedula" type="text" required class="form-control"
                placeholder="Cédula">
            </div>
          </div>


          <div class="row ">
            <div class="col-6 m-t-10">
              <div class="col-xs-6 ">
                <div class="form-group">
                  <label for="movil">Celular</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="ti-mobile"></i></div>
                    <input [ngModel]="usuario.movil" name="movil" type="text" required class="form-control"
                      placeholder="Celular">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 m-t-10">
              <div class="form-group">
                <label for="convencional">Convencional</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-mobile"></i></div>
                  <input [ngModel]="usuario.convencional" name="convencional" type="text" required class="form-control" placeholder="Convencional">
                </div>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10">
            <i class="fa fa-save"> </i>
            Actualizar información</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="card">
      <div class="card-body" align='center'>
        <h4 class="card-title">Foto del usuario</h4>
        <h6 class="card-subtitle">Actualizar foto</h6>

        <img *ngIf="!imagenTemporal"  [src]="usuario.imagen | imagen" class="w150" alt="">
        <img *ngIf="imagenTemporal" [src]="imagenTemporal" class="w150" alt="">
        <br>
        <br>
        <input (change)='seleccionarImagen($event.target.files[0])' type="file">

        <br>
        <br>

        <button (click)='cambiarImagen()' [disabled]='!subirImagen' type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10">
          <i class="fa fa-save"> </i>
          Actualizar Foto</button>

      </div>
    </div>
  </div>
</div>
