<div class="row">

    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"></h4>
          <form #f="ngForm" class="form p-t-20 " (ngSubmit)="resetearPassword(f.value)">


            <span *ngIf="f.submitted && f.controls['correo'].errors" class="text-danger animated fadeIn">El nombre de usuario (Correo electrónico) es
              obligatorio</span>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-email"></i></div>
                <input [(ngModel)]="correo" name="correo" type="email" required class="form-control"
                  placeholder="Nombre de usuario (Correo electrónico)">
              </div>
            </div>


            <button type="submit" class="btn btn-block btn-lg btn-info btn-rounded">
              Resetear Contraseña</button>
          </form>
        </div>
      </div>
    </div>
</div>
